version: '3.8'

services:
  apple_health_import:
    build:
      context: .
      dockerfile: Dockerfile
    image: apple_health:latest
    platform: linux/amd64
    container_name: apple_health_import
    environment:
      - INFLUXDB_URL=${INFLUXDB_URL:-http://192.168.178.114:8088}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET:-apple_health}
    volumes:
      - /volume1/docker/apple_health/data:/data:ro
    command: python ingest.py /data/HealthAutoExport-20241201-20251210.json
    restart: "no"

networks:
  default:
    driver: bridge